.about-us {
  padding-top: 31px;
  padding-bottom: 58px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 0 225px;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 334px 334px;
    margin-top: 96px;
  }
}

.about-us__item {
  line-height: 20px;
  width: 195px;
  padding-bottom: 83px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 0;
  }
}

.about-us__item:last-child {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 206px;
  }
}

.about-us__item:nth-child(2) {
  width: 200px;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 242px;
  }
}

.about-us__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    order: 5;
    width: 217px;
  }
}

.about-us__item:nth-child(4) {
  width: 225px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 100%;
    margin: 0;
  }
}

.about-us__item:nth-child(5) {
  width: 250px;

  @media (min-width: $tablet-width) {
    order: 4;
    width: 100%;
  }
}

.about-us__item:nth-child(6) {
  width: 250px;

  @media (min-width: $tablet-width) {
    order: 6;
    width: 100%;
  }
}
