.about-us {
  margin-bottom: 56px;

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 87px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 1053px;
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-repeat: no-repeat;
      top: 0;
      left: 0;
    }
  }
}

.about-us__wrapper {
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 85px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    position: relative;
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
    margin: 0 auto;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 334px 334px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 350px 350px;
  }
}

.about-us__item {
  position: relative;
  width: 195px;
  line-height: 20px;
  padding-top: 82px;

  @media (min-width: $tablet-width) {
    width: 232px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 96px;
  }
}

.about-us__item:nth-child(1) {
  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 33px;
    height: 38px;
    background-image: url("../img/icons/icon-1.svg");
    background-repeat: no-repeat;
    top: 28px;
    left: 8px;

    @media (min-width: $tablet-width) {
      top: 40px;
    }
  }
}

.about-us__item:nth-child(2) {
  width: 200px;
  padding-top: 83px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 47px;
    height: 27px;
    background-image: url("../img/icons/icon-2.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: 55px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 3;
    width: 242px;
    padding-top: 111px;
  }
}

.about-us__item:nth-child(3) {
  padding-top: 83px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 34px;
    height: 27px;
    background-image: url("../img/icons/icon-3.svg");
    background-repeat: no-repeat;
    top: 35px;
    left: 7px;

    @media (min-width: $tablet-width) {
      top: 62px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 5;
    width: 217px;
    padding-top: 110px;
  }
}

.about-us__item:nth-child(4) {
  width: 225px;
  padding-top: 83px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 34px;
    background-image: url("../img/icons/icon-4.svg");
    background-repeat: no-repeat;
    top: 32px;
    left: 3px;

    @media (min-width: $tablet-width) {
      top: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 2;
    width: 263px;
    padding-top: 98px;
  }
}

.about-us__item:nth-child(5) {
  width: 250px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 55px;
    height: 23px;
    background-image: url("../img/icons/icon-5.svg");
    background-repeat: no-repeat;
    top: 33px;
    left: -6px;

    @media (min-width: $tablet-width) {
      top: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 4;
    width: 100%;
    padding-top: 110px;
  }
}

.about-us__item:nth-child(6) {
  width: 250px;
  padding-top: 84px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 33px;
    height: 32px;
    background-image: url("../img/icons/icon-6.svg");
    background-repeat: no-repeat;
    top: 32px;
    left: 3px;

    @media (min-width: $tablet-width) {
      top: 58px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 6;
    width: 293px;
    padding-top: 111px;
  }
}
