.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 334px 334px;
  }
}

.about-us__item {
  line-height: 20px;
  margin-top: 83px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about-us__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.about-us__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.about-us__item:nth-child(4) {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.about-us__item:nth-child(5) {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.about-us__item:nth-child(6) {
  @media (min-width: $tablet-width) {
    order: 6;
  }
}
