.basket-item__link {
  display: block;
  box-sizing: border-box;
  width: 320px;
  color: $black;
  padding: 29px 30px 27px 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
    min-width: auto;
    text-align: end;
    padding: 33px 55px 29px 29px;
    margin: 0;
  }

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.basket-item__link:hover .basket-item__icon {
  opacity: 1;
  fill: $lightnes-green;
}

.basket-item__link:active .basket-item__icon {
  opacity: 0.3;
}

.basket-item__icon {
  opacity: 0.2;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
  }
}
