.button {
  display: block;
  box-sizing: border-box;
  width: 260px;
  padding: 16px 20px;
  background-color: $white;
  border: 2px solid $gray;
  font-size: 18px;
  line-height: 20px;
  color: $gray;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 292px;
  }

  &:hover {
    color: $white;
    background: linear-gradient(0deg, $gray, $gray);
  }

  &:active {
    color: rgba($white, 0.3);
    background: linear-gradient(0deg, $gray, $gray);
  }

  &--no-tel {
    @media (min-width: $tablet-width) {
    width: 175px;
    }
  }

  &--notel-contact {
    @media (min-width: $tablet-width) {
      width: 230px;
    }
  }

  &--catalog {
    @media (min-width: $mobile-width) {
      width: 192px;
    }

    @media (min-width: $tablet-width) {
      width: 582px;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
    }
  }
}
