.catalog-main__wrapper-title {
  padding: 74px 0;
  background-color: $smoke-white;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 57px 100px 63px 100px;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill.svg");
      background-repeat: repeat-x;
      bottom: -10px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 113px 300px 77px 300px;
    margin-top: -113px;

    &::after {
      height: 34px;
    }
  }
}

.catalog-main__title {
  width: 237px;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 400px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
    font-size: 53px;
    line-height: 57px;
  }
}
