.catalog-main__wrapper {
  padding: 74px 0;
  background-color: $smoke-white;

  @media (min-width: $tablet-width) {
    padding: 57px 100px 63px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 300px 79px 300px;
  }
}

.catalog-main__title {
  width: 237px;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 400px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
    font-size: 53px;
    line-height: 57px;
  }
}
