.feedback__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 79px;
  }
}

.feedback__author-name {
  display: inline-block;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.feedback__author-contact {
  line-height: 30px;
  font-weight: 400;
}

.feedback__slide {
  display: none;

  &--show {
    display: block;
    margin: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
