.filter {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.filter__type,
.filter__color-type,
.filter__personal,
.filter__contacts-form,
.filter__input-area {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__type {
  position: relative;
  margin-bottom: 31px;

  &::after {
    @media (max-width: $mobile-width) {
      content: '';
      display: block;
      position: absolute;
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.filter__type-wrapper {
  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.filter__color-type {
  position: relative;
  margin-bottom: 33px;

  @media (max-width: $mobile-width) {
    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $smoke-white;
    margin-bottom: 0;
  }
}

.filter__color-type-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    padding: 50px 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-top: 48px;
    padding-bottom: 52px;
  }
}

.filter__personal {
  position: relative;
  margin-bottom: 34px;

  @media (max-width: $mobile-width) {
    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.filter__personal-wrapper {
  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.filter__contacts-form {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    background-color: $smoke-white;
    margin: 0;
  }
}

.filter__contacts-form-wrapper {
  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.filter__inner-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 17px;

  @media (max-width: $mobile-width) {
    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin-bottom: 49px;
  }
}

.filter__title {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 16px;
  width: 59px;
  color: $turquoise;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 122px;
    margin: 0;
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
  }

  &--bgcolor {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      background-color: $smoke-white;
      margin-right: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
      margin: 0;
    }
  }

  &--personal {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      margin-right: 45px;
      align-self: self-start;
      margin-bottom: 0;
      padding: 23px 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
      margin-right: 23px;
    }
  }

  &--area {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-right: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
      margin-right: 20px;
    }
  }

  &--type {
    @media (min-width: $tablet-width) {
      padding-top: 16px;
      align-self: self-start;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
    }
  }

  &--contacts {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding-top: 19px;
      margin-right: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
      margin-right: 20px;
    }
  }
}

.filter__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    background-color: $smoke-white;
  }

  &--nobgcolor {
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 400px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 24px;
      width: 501px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
      width: 875px;
    }
  }

  &--personal {
    @media (min-width: $tablet-width) {
      width: 501px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }
}

.filter__item {
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    padding-left: 60px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 300px;
      padding-left: 120px;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 325px;
      padding-left: 96px;
    }
  }

  &--personal {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--contacts {
    position: relative;
    margin-bottom: 35px;

    @media (max-width: $mobile-width) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 75%;
        height: 1px;
        top: 7px;
        left: 63px;
        z-index: -1;
        background-color: $light-green;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      width: 875px;
    }
  }

  &--contacts-email {
    position: relative;

    @media (max-width: $mobile-width) {
      &::after {
        display: block;
        position: absolute;
        content: '';
        width: 69%;
        height: 1px;
        top: 7px;
        left: 81px;
        z-index: -1;
        background-color: $light-green;
      }
    }
  }

  &--color {
    padding-left: 60px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      width: 122px;
      padding-left: 74px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      width: 170px;
      padding-left: 96px;
    }
  }
}

.filter__input-name,
.filter__input-area {
  width: 100%;
  font-size: 17px;
  color: $gray;
  line-height: 18px;
  border: none;
  padding: 0;

  &::-webkit-input-placeholder {
    color: rgba($black, 0.3);
  }

  &::-moz-placeholder {
    color: rgba($black, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    background-color: $smoke-white;
  }

  &--nobgcolor {
    background-color: transparent;
  }
}

.filter__input-name {
  position: relative;
  border-bottom: 2px solid $gray;
  padding-bottom: 17px;

  &:hover, &:focus {
    border-bottom: 2px solid $light-green;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      width: 484px;
      padding: 14px 0 20px 17px;
    }

    @media (min-width: $desktop-width) {
      width: 688px;
    }
  }

  &--nobgcolor {
      @media (min-width: $tablet-width) {
      width: 339px;
      padding: 17px 18px;
    }

    @media (min-width: $desktop-width) {
      width: 538px;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 392px;
    }

    @media (min-width: $desktop-width) {
      width: 591px;
    }
  }
}

.filter__input-name--contacts:hover ~ .filter__input-image,
.filter__input-name--contacts:active ~ .filter__input-image {
  fill: $light-green;
  opacity: 1;
}

.filter__input-image {
  position: absolute;
  bottom: 15px;
  opacity: 0.2;

  &--phone {
    top: 20px;
    left: 230px;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 630px;
    }

    @media (min-width: $desktop-width) {
      top: 10px;
      left: 830px;
    }
  }

  &--mail {
    top: 25px;
    left: 225px;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 630px;
    }

    @media (min-width: $desktop-width) {
      top: 10px;
      left: 830px;
    }
  }
}

.filter__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  &--color {
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--radio {
    padding-top: 12px;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--radio-access {
    width: 155px;
    padding-top: 4px;
    padding-bottom: 8px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--personal {
    padding: 0;
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      width: 101px;
      margin: 0;
      margin-right: 25px;
      align-self: center;
    }
  }

  &--personal-name {
    @media (min-width: $tablet-width) {
      width: 49px;
      margin-right: 24px;
    }
  }
}

.filter__input-radio + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: -60px;
  border: 2px solid $gray;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -75px;
  }
}

.filter__input-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: -46px;
  background-color: $light-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
    top: 15px;
    left: -60px;
  }
}

.filter__input-radio, .filter__checkbox {
  &:hover + label::before {
    border: 2px solid $light-green;
  }

  &:focus + label::before {
    opacity: 0.3;
  }
}

.filter__input-area {
  width: 260px;
  height: 142px;
  font-family: inherit;
  color: black;
  font-size: 19px;
  border: 2px solid $gray;
  padding: 17px 17px;
  resize: none;
  background-color: transparent;

  &:hover, &:focus {
    border: 2px solid $light-green;
  }

  @media (min-width: $tablet-width) {
    width: 463px;
  }

  @media (min-width: $desktop-width) {
    width: 670px;
  }
}

.filter__checkbox + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: -60px;
  border: 2px solid $gray;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: 0;
    left: -73px;
  }
}

.filter__checkbox:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 17px;
  top: 11px;
  left: -52px;
  background-image: url('../img/icons/active.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    top: 16px;
    left: -62px;
    background-image: url("../../img/icons/active-tablet.svg");
  }
}

.filter__footnote {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: $gray;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    order: 1;
    margin-bottom: 0;
    align-self: center;
  }
}

.filter__wrapper-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    justify-content: space-between;
  }
}

.filter__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: 136px;
  }
}
