.filter {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.filter__type,
.filter__color-type,
.filter__personal,
.filter__contacts-form,
.filter__input-area {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__type {
  position: relative;
  margin-bottom: 26px;

  &::after {
    @media (max-width: $mobile-width) {
      content: "";
      display: block;
      position: absolute;
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.filter__type-wrapper {
  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.filter__color-type {
  position: relative;
  margin-bottom: 34px;

  @media (max-width: $mobile-width) {
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $smoke-white;
    margin-bottom: 0;
  }
}

.filter__color-type-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    padding: 50px 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-top: 50px;
    padding-bottom: 49px;
  }
}

.filter__personal {
  position: relative;
  margin-bottom: 36px;

  @media (max-width: $mobile-width) {
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.filter__personal-wrapper {
  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.filter__contacts-form {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    background-color: $smoke-white;
    margin: 0;
  }
}

.filter__contacts-form-wrapper {
  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-top: 43px;
  }
}

.filter__inner-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 17px;

  @media (max-width: $mobile-width) {
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 75%;
      height: 1px;
      top: 7px;
      left: 63px;
      z-index: -1;
      background-color: $light-green;
    }
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin-bottom: 49px;
  }
}

.filter__title {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 16px;
  width: 59px;
  color: $turquoise;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 122px;
    margin: 0;
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
  }

  &--bgcolor {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      background-color: $smoke-white;
      margin-right: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 62px;
      margin: 0;
    }
  }

  &--personal {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      margin-right: 45px;
      align-self: self-start;
      margin-bottom: 0;
      padding: 22px 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 61px;
      margin-right: 15px;
    }
  }

  &--area {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-right: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
      margin-right: 20px;
    }
  }

  &--area-dop {
    @media (min-width: $tablet-width) {
      padding-top: 19px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 61px;
      margin-right: 14px;
    }
  }

  &--type {
    @media (min-width: $tablet-width) {
      padding-top: 18px;
      align-self: self-start;
    }

    @media (min-width: $desktop-width) {
      padding-left: 62px;
    }
  }

  &--contacts {
    margin-bottom: 19px;
    font-size: 17px;

    @media (min-width: $tablet-width) {
      padding-top: 62px;
      margin-right: 45px;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 22px;
      padding-left: 61px;
      margin-right: 13px;
    }
  }

  &--contacts-email {
    @media (min-width: $tablet-width) {
      padding-top: 7px;
    }
  }
}

.filter__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    background-color: $smoke-white;
  }

  &--nobgcolor {
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 400px;
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      padding-left: 92px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 24px;
      width: 501px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 261px 265px 260px;
      padding-left: 95px;
    }
  }

  &--personal {
    @media (min-width: $tablet-width) {
      width: 501px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
      padding-left: 0;
    }
  }
}

.filter__item {
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    padding-left: 60px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 300px;
      padding-left: 125px;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 325px;
      padding: 0;
    }
  }

  &--personal {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  &--contacts {
    position: relative;
    margin-bottom: 35px;

    @media (max-width: $mobile-width) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 75%;
        height: 1px;
        top: 7px;
        left: 63px;
        z-index: -1;
        background-color: $light-green;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      width: 875px;
    }
  }

  &--contacts-email {
    position: relative;

    @media (max-width: $mobile-width) {
      &::after {
        display: block;
        position: absolute;
        content: "";
        width: 69%;
        height: 1px;
        top: 7px;
        left: 81px;
        z-index: -1;
        background-color: $light-green;
      }
    }
  }

  &--color {
    padding-left: 60px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      width: 122px;
      padding-left: 92px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      width: 170px;
      padding: 0;
    }
  }

  &--color-padding {
    @media (min-width: $tablet-width) {
      padding-left: 82px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.filter__input-name,
.filter__input-area {
  width: 100%;
  font-size: 18px;
  color: $gray;
  line-height: 18px;
  border: none;
  padding: 0;

  &::placeholder {
    color: rgba($black, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    background-color: $smoke-white;
  }

  &--nobgcolor {
    background-color: transparent;
  }
}

.filter__input-name {
  position: relative;
  border-bottom: 2px solid $gray;
  padding-bottom: 11px;

  &:hover,
  &:focus {
    border-bottom: 2px solid $light-green;
    outline: none;
  }

  &--contacts {
    font-size: 17px;

    @media (min-width: $tablet-width) {
      width: 484px;
      padding: 50px 0 6px 17px;
    }

    @media (min-width: $desktop-width) {
      width: 681px;
      padding-top: 10px;
      padding-left: 20px;
    }
  }

  &--nobgcolor {
    @media (min-width: $tablet-width) {
      width: 339px;
      padding: 16px 18px 16px 18px;

      font-size: 19px;
      line-height: 17px;
    }

    @media (min-width: $desktop-width) {
      width: 538px;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 392px;
      font-size: 20px;
      line-height: 23px;
      padding: 16px 18px 16px 18px;
    }

    @media (min-width: $desktop-width) {
      width: 591px;
    }
  }

  &--tel {
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      padding-bottom: 6px;
    }
  }

  &--contacts-email {
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      padding-top: 0;
      padding-bottom: 12px;
    }
  }
}

.filter__input-name--contacts:hover ~ .filter__input-image,
.filter__input-name--contacts:focus ~ .filter__input-image {
  fill: $light-green;
  opacity: 1;
}

.filter__input-image {
  position: absolute;
  bottom: 15px;
  opacity: 0.2;

  &--phone {
    top: 27px;
    left: 228px;

    @media (min-width: $tablet-width) {
      top: 52px;
      left: 616px;
    }

    @media (min-width: $desktop-width) {
      top: 13px;
      left: 842px;
    }
  }

  &--mail {
    top: 37px;
    left: 225px;

    @media (min-width: $tablet-width) {
      top: 6px;
      left: 614px;
    }

    @media (min-width: $desktop-width) {
      top: 5px;
      left: 839px;
    }
  }
}

.filter__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  &--color {
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--radio {
    padding-top: 12px;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--radio-access {
    width: 155px;
    padding-top: 4px;
    padding-bottom: 4px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--personal {
    padding: 0;
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      width: 101px;
      margin: 0;
      margin-right: 25px;
      align-self: center;
    }
  }

  &--personal-name {
    @media (min-width: $tablet-width) {
      width: 49px;
      margin-right: 24px;
    }
  }
}

.filter__input-radio + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -1px;
  left: -60px;
  border: 2px solid $gray;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 46px;
    height: 46px;
    top: 1px;
    left: -77px;
  }
}

.filter__input-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: -48px;
  background-color: $light-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
    top: 15px;
    left: -63px;
  }
}

.filter__input-radio,
.filter__checkbox {
  &:hover + label::before {
    border: 2px solid $light-green;
  }

  &:focus + label::before {
    border: 2px solid $light-green;
  }

  &:active + label::before {
    border: 2px solid rgba($gray, 0.3);
  }
}

.filter__input-area {
  width: 260px;
  height: 107px;
  font-family: inherit;
  color: black;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $gray;
  padding: 15px 15px;
  resize: none;
  background-color: transparent;

  &:hover,
  &:focus {
    border: 2px solid $light-green;
  }

  @media (min-width: $tablet-width) {
    width: 467px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 666px;
  }
}

.filter__checkbox + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: -60px;
  border: 2px solid $gray;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: 0;
    left: -82px;
  }

  @media (min-width: $desktop-width) {
    top: -2px;
  }
}

.filter__checkbox:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 17px;
  top: 11px;
  left: -52px;
  background-image: url("../img/icons/active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    top: 16px;
    left: -71px;
    background-image: url("../img/icons/active-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    top: 12px;
  }
}

.filter__footnote {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: $gray;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    order: 1;
    margin-bottom: 0;
    align-self: center;
  }
}

.filter__wrapper-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    justify-content: space-between;
  }
}

.filter__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: 136px;
  }
}
