.form-main__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  background-color: $smoke-white;
  padding: 73px 23px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 57px 100px 63px 100px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 58px 300px 79px 300px;
  }
}

.form-main__desc {
  font-size: 13px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}
