.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-header__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin-top: 73px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-header__list {
  @include list-reset;
  margin-top: 120px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-header__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.main-header__item-link {
  display: block;
  box-sizing: border-box;
  font-size: 19px;
  color: $white;
  padding: 24px 160px 31px 30px;

  &--interior {
    background-color: $turquoise;
  }

  &--toys {
    background-color: $dark-turquoise;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
  }
}
