.main-header__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-header__list {
  @include list-reset;
}

.main-header__item-link {
  display: block;
  box-sizing: border-box;
  font-size: 19px;
  color: $white;
  width: 320px;
  padding: 24px 160px 31px 30px;

  &--interior {
    background-color: $turquoise;
  }

  &--toys {
    background-color: $dark-turquoise;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 334px;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    padding: 25px 350px 34px 37px;
  }
}
