.page-footer {
  background-color: $smoke-white;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  display: none;

  &--current {
    cursor: default;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 122px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 312px;
  }
}

.page-footer__logo:hover .page-footer__logo-icon {
  opacity: 1;
  fill: $lightnes-green;
}

.page-footer__logo:active .page-footer__logo-icon {
  opacity: 0.3;
}

.page-footer__social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 142px;
  padding-top: 21px;
  padding-bottom: 14px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 142px;
    margin: 0;
    margin-right: 42px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 234px;
  }
}

.page-footer__social-item {
  margin-right: 41px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.page-footer__social-link-icon {
  &:hover {
    fill: $darker-turquoise;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__wrapper-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  border-top: 1px solid rgba($black, 0.1);
  padding: 20px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.page-footer__desc {
  font-size: 19px;
  line-height: 18px;
  align-self: center;
  margin: 0;
  margin-right: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}
