.page-footer {
  background-color: $smoke-white;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 122px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 312px;
  }
}

.page-footer__social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: 142px;
  padding: 24px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 142px;
    margin: 0;
    padding: 0;
  }
}

.page-footer__social-item {
  margin-right: 41px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.page-footer__wrapper-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  border-top: 1px solid rgba($black, 0.1);
  padding: 22px 22px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.page-footer__desc {
  font-size: 19px;
  line-height: 18px;
  padding-top: 5px;
  margin: 0;
  margin-right: 31px;
}
