.product__item {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.product__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 0;
    width: 316px;
  }
}

.product__list:hover {
  box-shadow: 0 6px 10px rgba($black, 0.1);

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }
}

.product__list-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: block;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.product__product-title {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 70%;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
  }
}

.product__product-link {
  width: 50%;
}

.product__product-link-title {
  font-size: 17px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__property {
  font-size: 13px;
  line-height: 30px;
  color: $gray;
  font-weight: 400;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 15px;
  }
}

.product__price {
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
