.product__item {
  @include list-reset;
}

.product__list:hover {
  box-shadow: 0 6px 10px rgba($black, 0.1);

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }
}

.product__list-wrapper {
  border: 1px solid $whisper;
}

.product__product-link {
  font-size: 17px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__property {
  font-size: 13px;
  line-height: 30px;
  color: $gray;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product__price {
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
