.product-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 31px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 292px 277px 1fr;
    grid-template-rows: auto auto auto auto 52px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 175px 350px 1fr;
    grid-template-rows: auto auto auto auto 52px;
    padding-top: 40px;
  }
}

.product-main__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 4px;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }
}

.product-main__subtitle {
  line-height: 20px;
  text-transform: uppercase;
  color: $turquoise;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    text-align: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.product-main__desc {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    line-height: 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.product-main__list {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.product-main__item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 1px solid rgba($black, 0.1);
}

.product-main__parameter,
.product-main__value {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.product-main__parameter {
  width: 98px;
  padding-right: 10px;
}

.product-main__img {
  background-size: contain;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 4;
    grid-row: 2 / -1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }
}

.product-main__price {
  color: $gray;
  margin: auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.product-main__button {
  line-height: 16px;
  margin: auto;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}
