.product {
  padding-top: 30px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-bottom: 0;
    margin-bottom: 54px;
  }
}

.product__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.product__item {
  margin-bottom: 31px;

  &:nth-child(3n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &:nth-child(3) .product__product-title {
    margin-bottom: 1px;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 666px;
    border: 1px solid $lightnes-gray;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 48px;
    width: 316px;
    margin-bottom: 0;
    margin-top: 39px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba($black, 0.1);

    &:active {
      box-shadow: 0 3px 5px rgba($black, 0.1);
    }
  }
}

.product__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 29px 24px 25px 27px;
  border: 1px solid $whisper;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    border: 0;
    padding-top: 27px;
    padding-left: 33px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 100%;
    position: relative;
    padding: 23px 30px 26px 28px;
  }


  &--third {
    padding-top: 25px;
    padding-bottom: 26px;
  }
}

.product__product-title {
  width: 205px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 237px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.product__product-image,
.product__product-image-pic {
  @media (min-width: $tablet-width) {
    display: block;
    width: 333px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__product-link-title {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--margin {
    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 8px;
    }
  }
}

.product__property {
  font-size: 13px;
  line-height: 30px;
  color: $gray;
  font-weight: 400;
  width: 100%;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 215px;
    font-size: 15px;
    margin-bottom: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }

  &--third {
    @media (min-width: $tablet-width) {
      margin-bottom: 174px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 37px;
    }
  }

  &--margin {
    @media (min-width: $tablet-width) {
      margin-bottom: 194px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }
}

.product__price-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    position: relative;
    margin-top: auto;

    &::before {
      display: block;
      position: absolute;
      content: "";
      height: 1px;
      background-color: $whisper;
      width: 100%;
      left: 0;
      top: -25px;
    }
  }
}

.product__price {
  width: 110px;
  font-size: 15px;
  margin-right: 75px;

  @media (min-width: $tablet-width) {
    width: 190px;
    font-size: 17px;
    padding-left: 2px;
    margin-right: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.product__add-in-basket-icon {
  opacity: 0.2;
}

.product__add-in-basket:hover .product__add-in-basket-icon {
  fill: $lightnes-green;
  opacity: 1;
}

.product__add-in-basket:active .product__add-in-basket-icon {
  opacity: 0.3;
}

.product__product-link {
  display: block;
  height: 195px;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    height: auto;
  }
}
