.review__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.feedback__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.feedback__author-name {
  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.feedback__author-contact {
  line-height: 30px;
  font-weight: 400;
}
