.review__feedback {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-top: 40px;
  }
}

.review__feedback br {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.review__wrapper {
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 493px 1fr;
    grid-template-rows: 52px 270px;
    padding-top: 83px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: 52px 220px;
  }
}

.review__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.review__button-wrapper {
  display: flex;
  border: 1px solid $whisper;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: flex-end;
    border: 0;
    margin: 0;
  }
}

.review__button {
  width: 50%;
  height: 50px;
  background-color: transparent;
  background-image: url(../img/icons/huge-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 26px;
  cursor: pointer;
  border: 0;
  padding: 0;

  &--prev {
    border-right: 1px solid $whisper;

    @media (min-width: $tablet-width) {
      border-right: 0;
    }
  }

  &--next {
    transform: scaleX(-1);
  }
}

.review__button-write {
  display: block;
  line-height: 16px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
