.review {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 350px;
      height: 457px;
      background-image: url("../img/review.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/review@2x.jpg");
      }
    }

    &::after {
      background-size: cover;
      height: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.review__feedback {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.review__feedback br {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.review__wrapper {
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 83px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 875px;
    padding-top: 78px;
    padding-bottom: 66px;
    padding-left: 174px;
    justify-content: space-between;
    margin: 0 auto;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 350px;
      height: 457px;
      background-image: url("../../img/review.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/review@2x.jpg");
      }
    }
  }
}

.review__title {
  font-size: 25px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 473px;
    padding-right: 20px;
    margin: 0;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 680px;
    padding: 0;
    z-index: 1;
  }
}

.review__button-wrapper {
  display: flex;
  border: 1px solid $whisper;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 180px;
    height: 50px;
    border: 0;
    margin: 0;
    bottom: 150px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 83px;
  }
}

.review__button {
  width: 50%;
  height: 50px;
  background-color: transparent;
  background-image: url("../img/icons/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 26px;
  cursor: pointer;
  border: 0;
  padding: 0;

  &--prev {
    border-right: 1px solid $whisper;

    @media (min-width: $tablet-width) {
      border-right: 0;
    }
  }

  &--next {
    transform: scaleX(-1);
  }
}

.review__button-write {
  display: block;
  line-height: 16px;
  margin: 0 auto;
  height: 52px;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 2;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
