.search-item__link {
  color: $black;
  margin-left: -52px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 36px 31px 33px;
  }

  &--hidden {
    @media (min-width: $tablet-width) {
      font-size: 0;
    }
  }

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.search-item__icon {
  margin-right: 20px;
}
