.site-list-desk__item--desktop {
  @media (max-width: $desktop-width) {
    font-size: 15px;
    display: none;
  }
}

.site-list-desk__item:nth-child(1) {
  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding: 20px 59px 20px 50px;
  }
}

.site-list-desk__item:last-child {
  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding: 20px 59px 20px 0;
  }
}
