.video-production {
  margin-bottom: 58px;
}

.video-production__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid $whisper;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.video-production__title {
  width: 169px;
  padding-left: 91px;
  margin: 0;
  margin-bottom: 26px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 100%;
    order: 1;
  }
}

.video-production__desc {
  width: 226px;
  font-size: 13px;
  color: $gray;
  font-weight: 400;
  margin: 0;
  padding: 35px 0 41px 34px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.video-production__image {

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
}

.video-production__play-button {
  position: absolute;
  border: none;
  top: 135px;
  left: 80px;
  background-color: transparent;
  padding: 0;
}

.video-production__button {
  width: 192px;
  height: 52px;
  line-height: 16px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
  }
}
