.video-production {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }

    &:hover {
      box-shadow: 0 6px 10px rgba($black, 0.1);

    &:active {
      box-shadow: 0 3px 5px rgba($black, 0.1);
    }
  }
}

.video-production__wrapper {
  display: flex;
  flex-wrap: wrap;

  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid $whisper;

   @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 683px 286px;
    grid-column-gap: 79px;
    grid-template-rows: repeat(3, min-content);
    padding-bottom: 0;
  }
}

.video-production__title {
  position: relative;
  width: 169px;
  padding-left: 91px;
  margin: 0;
  margin-bottom: 26px;
  font-size: 17px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/icons/video.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 10px;
    left: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 271px;
    order: 1;
    padding: 0 290px 0 107px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 149px;
    align-self: self-start;
    padding: 86px 138px 0 0;
    margin-bottom: 10px;
  }
}

.video-production__desc {
  width: 194px;
  font-size: 13px;
  color: $gray;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
  padding: 0 31px 0 34px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    order: 2;
    padding: 0 35px 0 40px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 0;
    margin-bottom: 51px;
  }
}

.video-production__image-wrapper {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: 0;
  }
}

.video-production__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
  }
}

.video-production__play-button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);

    &:hover svg {
      width: 121px;
      height: 97px;
      transition: .3s;

    &:active {
      width: 81px;
      height: 57px;
      opacity: 0.3;
      transition: .3s;
    }
  }
}

.video-production__button {
  width: 192px;
  line-height: 16px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 584px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    height: 52px;
    margin: 0;
    margin-bottom: 30px;
  }
}
