// Viewports

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// Colors

$white: #FFFFFF;
$smoke-white: #F1F1F1;
$whisper: #ECECEC;
$turquoise: #63D1BB;
$light-turquoise: #59D5BC;
$dark-turquoise: #56C3B2;
$darker-turquoise: #46C1AE;
$light-green: #62D1BA;
$gray: #444444;
$black: #000000;
