// Viewports

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// Colors

$white: #ffffff;
$smoke-white: #f1f1f1;
$whisper: #ececec;
$turquoise: #63d1bb;
$light-turquoise: #59d5bc;
$dark-turquoise: #56c3b2;
$darker-turquoise: #46c1ae;
$light-green: #62d1ba;
$lightnes-green: #63d1bb;
$lightnes-gray: #e5e5e5;
$light-gray: #fafafa;
$medium-gray: #f9f9f9;
$gray: #444444;
$black: #000000;
